<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DH.PaymentAllocationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="inrule.logging" type="InRule.Repository.Logging.Configuration.LoggingSectionHandler, InRule.Repository"/>
    <section name="inrule.repository" type="InRule.Repository.Configuration.RepositoryConfigSectionHandler, InRule.Repository"/>
  </configSections>
  <inrule.logging>
    <group name="logging" typeName="InRule.Repository.Logging.Loggers.LoggerGroup, InRule.Repository" level="Error">
      <!-- level is one of: Debug, Info, Warn, Error, Fatal -->
      <logger typeName="InRule.Repository.Logging.Loggers.FileLogger, InRule.Repository">
        <option name="filename" value="C:\Temp\DHLoanPaymentAllocation.log"/>
      </logger>
    </group>
  </inrule.logging>
  <inrule.repository>
    <endPoints>
      <assemblyEndPoint endPointAssemblyPath="EndPointAssemblies"/>
    </endPoints>
    <!--<licensing licenseFolder="..\..\..\LicenseFile"/>-->
  </inrule.repository>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SrvBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxStringContentLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="DH.PaymentAllocationService.InRuleService" behaviorConfiguration="DH.PaymentAllocationService.InRuleServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="DH.PaymentAllocationService.IInRuleService" bindingConfiguration="SrvBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DH.PaymentAllocationService.InRuleServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--Uncomment this area and the <system.diagnostics></system.diagnostics> area below to enable WCF tracing-->
    <!--<diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
       />
    </diagnostics>-->
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="C:\Temp\TracesInRule.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
  <applicationSettings>
    <DH.PaymentAllocationService.Properties.Settings>
      <setting name="TopEntityName" serializeAs="String">
        <value>PaymentAllocationRoot</value>
      </setting>
      <setting name="RuleAppDirectory" serializeAs="String">
        <value>C:\Users\Marian\Documents\InRule\D+H\Ruleapp\</value>
      </setting>
      <setting name="IsHardCoded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogDirectory" serializeAs="String">
        <value>C:\Temp\</value>
      </setting>
      <setting name="RuleAppObject" serializeAs="String">
        <value>DHLoanPaymentAllocation_v11.ruleapp</value>
      </setting>
      <setting name="PerformPostValidation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PerformPreValidation" serializeAs="String">
        <value>False</value>
      </setting>
    </DH.PaymentAllocationService.Properties.Settings>
  </applicationSettings>
</configuration>