<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DH.PaymentAllocationService.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInRuleService" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dsmdsiwo01.dev.harlandfs.com:8083/InRuleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInRuleService"
                contract="InRulePaymentAllocationService.IInRuleService" name="BasicHttpBinding_IInRuleService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <DH.PaymentAllocationService.Tests.Properties.Settings>
            <setting name="TestFilesPath" serializeAs="String">
                <value>C:\Users\sa5643\Documents\Projects\CSLPProcurement\DH.PaymentAllocation - source 033115\DH.PaymentAllocation\DH.PaymentAllocationService.Tests\TestFiles\</value>
            </setting>
        </DH.PaymentAllocationService.Tests.Properties.Settings>
    </applicationSettings>
</configuration>